[Unit]
Description = Manage btrfs snapshots

[Service]
Type = oneshot
ExecStart = /usr/bin/btrfs-snapshot create --source root --yes
ExecStop = /usr/bin/btrfs-snapshot delete --oldest

[Install]
WantedBy = multi-user.target
