Package: btrfs-snapshots-manager
Version:
Section: utils
Priority: optional
Maintainer:
Homepage: https://github.com/MichaelSchaecher/beetree
Architecture:
Depends: btrfs-progs
Build-Depends: make
Description: BTRFS Snapshots Manager
  Manage btrfs snapshots with ease and with the help of apt configuration
  a snapshot is created before changes are made to the system using apt.
