[Unit]
Description = Manage btrfs snapshots

[Service]
Type = oneshot
LogLevelMax = notice
EnvironmentFile = /etc/btrfsnapd.conf
# This service is intended to be run periodically, e.g., via a systemd timer.
ExecStart = /usr/bin/btrfsnapd create --source root --yes
ExecStop = /usr/bin/btrfsnapd delete --oldest --yes

[Install]
WantedBy = multi-user.target
