Source: btrfsnapd
Section: admin
Priority: optional
Maintainer: Michael Schaecher <michaelleeschaecher@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://github.com/MichaelSchaecher/btrfsnapd
Vcs-Browser: https://github.com/MichaelSchaecher/btrfsnapd
Vcs-Git: https://github.com/MichaelSchaecher/btrfsnapd.git

Package: btrfsnapd
Architecture: any
Multi-Arch: foreign
Depends:
    btrfs-progs, systemd, coreutils, grub-common, grub2-common,
    grub-btrfsd
Description:  Btrfs snapshot daemon
 Btrfsnapd is a daemon that manages Btrfs snapshots and integrates with
 GRUB to allow booting into snapshots. It provides a simple command-line
 interface for creating, listing, and deleting snapshots, as well as
 restoring the system to a previous state.
 .
 This package is designed to work with Btrfs filesystems and requires
 btrfs-progs to function correctly.
