[Unit]
Description = Manage btrfs snapshots

[Service]
Type = oneshot
ExecStart = /usr/bin/btrfs-snapshot create

[Install]
WantedBy = multi-user.target
